@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;500;600&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

/* General Styling */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bold{
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

/* Login */
.login_container{
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex_container{
  display: flex;
  min-height: 65%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form_wrapper{
  padding: 7rem 9rem 4rem 6rem;
}
.signUp_wrapper{
  padding: 3rem 9rem 2rem 5.5rem;
}

.signUp_container{
  padding: 5rem;
  background: rgb(233,103,104);
  background: linear-gradient(90deg, rgba(233,103,104,1) 0%, rgba(202,100,127,1) 60%);
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btn-signIn {
  display: block;
  width: 120%;
  padding: 0.75rem;
  border: none;
  border-radius: 27px;
  color: #f5f5f5;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  background: rgb(233,103,104);
  background: linear-gradient(90deg, rgba(233,103,104,1) 0%, rgba(202,100,127,1) 60%);  
  margin-top: 2rem;
}

.btn-signIn:hover {
  cursor: pointer;
}

.btn-signUp{
  color:white;
  border: white 1px solid;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 27px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.input {
  text-align: left;
  margin-bottom: 1.5rem;
  
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.7rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-family:'Poppins', sans-serif ;
}

.input input {
  width: 120%;
  padding: 1.25rem 1.75rem;
  background-color: #e3e3e3;
  border: none;
  border-radius: 27px;
}

.warning_message{
  color:red;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1.5rem;
}

/* nav */
/* .mainscreen-container{
  max-width: 1300px;
  margin: auto;
} */

nav{
  display:flex;
  padding: 2rem;
  /* padding-bottom: 0.75rem; */
  border-bottom: #e6e6e6 1px solid;
  align-items: center;
  align-content: center;
  width: 100%;
  position: sticky;
  top:0;
  z-index: 2;
  background-color: white;
}

.logo_container{
  flex-basis: 70%;

}

.logo_container h1{
  margin-bottom: 0rem;
}

.logo_link{
  color:rgb(233,103,104);
  font-size: 3rem;
}

.icon_container{
  flex-basis: 30%;
  display: flex;
  justify-content: end;
}

.icon_container ul{
  display: flex;
}

.search-container{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-basis: 40%;
  height:40px;
  padding-left: 8px;
}

.search-container input {
  padding-top: 14px;
  border: none;
  width: 80%;
  padding-left: 20px;
}

.search-container input::placeholder{
  font-size: 1.6rem;
}

.search-container input:focus {
  outline: none;
}


.search-icon{
  position: relative;
  left:12px;
}

.user-icon,.cart-icon{
  color:#333;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2.25rem;
}

.user-icon:hover,.cart-icon:hover {
  color:rgb(233,103,104);
}

/* showcase */
.showcase {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1449247666642-264389f5f5b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  height: 400px;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.showcase_container{
  margin: auto;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.showcase_content{
  color:white;
  text-align: center;
}

.showcase_content p{
  line-height: 2.5rem;
}

.showcase_header{
  font-size: 4rem;
}

.showcase_header span{
  color:rgb(233,103,104);
}

.btn_shopNow{
  color:white;
  font-weight: 500;
  border: white 1px solid;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 27px;
}

.btn_shopNow:hover {
  border:rgb(233,103,104)  1px solid;
  color:rgb(233,103,104);
}
/* Products */
.products_container{
  margin: auto;
  max-width: 1300px;
  text-align: center;
  padding-top: 4rem;
}

.products_container h2{
  font-size: 4rem;
}

.products,.user_products{
  padding-top: 3rem;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:5rem
}

.product{
  border:1px #e6e6e6 solid;
  padding-bottom: 2rem;
}

.product h3{
  font-size: 2.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product h6{
  font-size: 1.6rem;
}

.product img{
  width:100%;
  display: block;
  margin: auto;
}

.btn_product{
  color:white;
  display: inline-block;
  background-color: rgb(233,103,104);
  padding: 1rem 2rem;
  border-radius: 27px;

}
/* user */
.user-container{
  max-width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem;
}

.sellForm-wrapper{
  width:30%;
  margin: auto;
}


.file input{
  background-color: white;
}

.edit,.delete{
  color:white;
  display: inline-block;
  background-color: rgb(233,103,104);
  padding: 1rem 2rem;
  border-radius: 27px;
  font-size: 1.6rem;
}