<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/298b2ca44e.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>     
        <div class='logo_container'>       
          <h1><a href='./' class='logo_link'>iOne</a></h1>
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" class="search-bar" placeholder="Search for a product..." />
        </div>
        <div class='icon_container'>
          <ul>
            <li><a class="link" href="./user.html"> <i class="fa-solid fa-user user-icon"></i></a></li>
  
          </ul>
        </div>
      </nav>
      <div class='showcase'>
        <div class="showcase_container">
          <div class="showcase_content">
            <h2 class='showcase_header'>Welcome to <span>iOne</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, corrupti dolorum molestiae sint reiciendis laboriosam commodi <br></br> officiis explicabo ad cumque!</p>
            <a href="" class='btn_shopNow'>Shop Now</a>
          </div>
        </div>
      </div>
      <div class='products_container'>
        <h2>Our Products</h2>
        <div class="products">
          <div class="product">
            <img src="https://images.unsplash.com/photo-1493020258366-be3ead1b3027?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="" />
            <h3>Macbook</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur autem natus vero itaque minus veritatis fugiat iste architecto eveniet possimus!</p>
            <p>Usage : New</p>
            <h6>$9999</h6>
            <a href="" class='btn_product'>Buy</a>
          </div>
          

        </div>
      </div>
</body>
</html>