<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/298b2ca44e.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>     
        <div class='logo_container'>       
          <h1><a href='/home' class='logo_link'>Welcome to the Supplier Management System</a></h1>
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" class="search-bar" placeholder="Search for a product..." />
        </div>
        <div class='icon_container'>
          <ul>
            <li><a class="link" href="/logout">Logout <i class="fa-solid fa-user user-icon"></i></a></li>
  
          </ul>
        </div>
      </nav>
      <div class='showcase'>
        <div class="showcase_container">
          <div class="showcase_content">
            <h2 class='showcase_header'>Hi there you <span>bibliophile</span></h2>
            <p>Books is the secret of our Energy<br></br>TechPhantoms-Creation</p>
            <a href="/sell" class='btn_shopNow'>Sell</a>
          </div>
        </div>
      </div>
      <div class='products_container'>
        <h2>Books!</h2>
        <div class="products">
        {% for books in book_data%}
           <div class="product">
            <img src="{{books['imglink']}}" alt="Cannot load image" />
            <h3>Name: {{books['bookname']}}</h3>
            <p>Description: {{books['description']}}</p>
            <p>Usage : {{books['description']}}</p>
            <h6>Price: {{books['bookprice']}}</h6>
            <a href="/home" class='btn_product'>Buy</a>
          </div>
        {% endfor %}

        </div>
      </div>
      
</body>
</html>