<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user</title>
  <link rel="stylesheet" href="../static/style.css">
  <script defer src="../static/script.js"></script>
</head>
<body>
  <div class="user-container">
    <h2>Sell your book</h2>
    <div class="sellForm-wrapper">
      <h3>{{msg}}</h3>
      <form method='POST' action='/sell'>
        <div class="input" >
          <label> Book Title: </label>
          <input type="text" class="book_title" placeholder='Book Title' name="bookname" />
        </div>
        <div class="input">
          <label> Price: </label>
          <input type="text" class="price" placeholder='Price' name="bookprice"/>
        </div>
        <div class="input">
          <label> description: </label>
          <textarea id="description" class="description" cols="60" rows="5" name="description"></textarea>
        </div>
        <div class="input">
          <label> Usage: </label>
          <input type="text" class="usage" placeholder='Usage' name="usage"/>
        </div>
        <div class="input file">
          <label> image: </label>
          <input type="file" name="imglink"/>
        </div>
        <button type="submit"  class='btn btn-signIn'>Submit</button>
      </form>
    </div>

</body>
</html>